build/
install/
log/
*.o
*.pyc
pi-code/map*
pi-code/m2.*
pi-code/m4.*
pi-code/m6.*
pi-code/m5.*
pi-code/class5s.*
pi-code/class5.*
pi-code/f1.*
/als_ros
# pi-code/*.pgm
# pi-code/*.yaml
# pi-code/*.data
# pi-code/*.posegraph
pi-code/Kinights map2.zip
pi-code/src/rdj2025_potato_disease_detection/rdj2025_potato_disease_detection/Captured_Images/

pi-code/src/nav_to_poses/nav_to_poses/config/nav_goals_old.yaml
pi-code/src/jkl/launch/launch_sim.launch.py
pi-code/src/nav_to_poses/nav_to_poses/nav_to_poses_bak.py
pi-code/src/nav_to_poses/nav_to_poses/nav_to_poses_sim.py
pi-code/bconfig.rviz
